#main-header {
    color: #080205;
    font-style: italic;
    text-align: center;
    background-color: #9681AC;
  border: 2px solid #7A9DB1;
  border-radius: 5px;
}
main {
    background-color: #9FBCAD;
}
header {
    background-color: #9FBCAD;
    padding: 20px;
}
body {
    background-color: #7A9DB1;
}
footer {
    background-color: #9681AC;
    text-align: center;
    padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

ul li a:hover {
  background-color: #111111;
}